## Build results
bin/
obj/
out/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## VS Code / Visual Studio
.vscode/
.vs/
*.code-workspace

## ASP.NET artifacts
*.dbmdl
*.log
*.tlog
*.pidb
*.svclog

## Configuration

appsettings.Development.json

## NuGet packages
*.nupkg
*.snupkg
packages/
*.nuspec
project.lock.json
project.fragment.lock.json

## Entity Framework
Migrations/

## Others
*.DS_Store
Thumbs.db

## Publish artifacts
publish/
wwwroot/lib/
node_modules/
dist/
