
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="text-center">
    <h2>Đặt hàng thành công!</h2>
    <p>Cảm ơn bạn đã mua hàng. Chúng tôi sẽ liên hệ để xác nhận đơn hàng trong thời gian sớm nhất.</p>
</div>

